<section class='p-mv'>
  <% include('../lib/_link') %>
  <header class='p-mv_header'>
    <a href='' class="p-mv_header_logo">
      <img src='<%=path%>assets/img/logo_w.svg' alt='三宮.dev'>
    </a>

    <a href='' class='p-mv_header_menubar u-sp js-menubar'>
      <span></span>
      <span></span>
    </a>

    <nav class="p-mv_header_navs u-pc">
      <% navLink[0].forEach(function(link){ %>
        <a href='#<%=link[0]%>' class='p-mv_header_link'><%=link[1]%></a>
      <% }) %>
      <a href='<%=navLink[1][0]%>' class="p-mv_header_btn" target="_blank">
        <img src='<%=path%>assets/img/icon_slack_w.svg' alt=''>
        <%=navLink[1][1]%>
      </a>
    </nav>
  </header>

  <h1 class='p-mv_title'>
    <span>三宮.devに参加して、<br class="u-pc">
      IT知識を共有しましょう！</span>
  </h1>

  <div class='p-mv_links'>
    <a href='https://kobe-sannomiya-dev.connpass.com' class='c-btn' target="_blank">イベントへ参加する</a>
  </div>
  <article class="p-mv_apparel">
    <p class="p-mv_apparel_title">三宮.devアパレル販売中！</p>
    <p class="p-mv_apparel_image">
      <img src='<%=path%>assets/img/bg_apparel.png' alt="apparel">
    </p>
    <a href="https://tesao.base.shop" class="c-btn" target="_blank">ショップへ</a>
  </article>
</section>
