<!DOCTYPE html>
<html lang='ja'>

<head>
  <meta charset='UTF-8'>
  <meta http-equiv='X-UA-Compatible' content='IE=edge'>
  <meta name='viewport' content='width=device-width, initial-scale=1.0'>
  <title>三宮.dev | 三宮.devに参加して、IT知識を共有しましょう！</title>
  <link rel="shortcut icon" href="assets/img/favicon.ico">
  <script
    src="https://webfont.fontplus.jp/accessor/script/fontplus.js?UKfI85hRqA0%3D&box=hILhcGexnww%3D&pm=1&aa=1&ab=2"></script>
  <script src="https://code.jquery.com/jquery-3.6.0.min.js"
    integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
  <script src="assets/js/common.js"></script>
  <!-- Google tag (gtag.js) -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=G-BJW5B14X56"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'G-BJW5B14X56');
  </script>
  <link rel='stylesheet' href='assets/css/common.css'>
  <link rel='stylesheet' href='assets/css/top.css'>
</head>

<body>
  <%- include('inc/_spmenu', {path: "" }) %>
  <%- include('inc/_header', {path: "" }) %>
  <%- include('inc/_mv', {path: "" }) %>
  <%- include('inc/_concept', {path: "" }) %>
  <%- include('inc/_what', {path: "" }) %>
  <%- include('inc/_copy', {path: "" }) %>
  <%- include('inc/_leader', {path: "" }) %>
  <%- include('inc/_event', {path: "" }) %>
  <%- include('inc/_scrap', {path: "" }) %>
  <%- include('inc/_join', {path: "" }) %>
  <%- include('inc/_request', {path: "" }) %>
  <%- include('inc/_contact', {path: "" }) %>
  <%- include('inc/_footer', {path: "" }) %>
</body>

</html>