<!DOCTYPE html>
<html lang='ja'>

<head>
  <%- include('inc/_html_header', {path: ""}) %>
</head>

<body>
  <%- include('inc/_spmenu', {path: "" }) %>
  <%- include('inc/_header', {path: "" }) %>
  <%- include('inc/_mv', {path: "" }) %>
  <%- include('inc/_concept', {path: "" }) %>
  <%- include('inc/_what', {path: "" }) %>
  <%- include('inc/_copy', {path: "" }) %>
  <%- include('inc/_leader', {path: "" }) %>
  <%- include('inc/_event', {path: "" }) %>
  <%- include('inc/_scrap', {path: "" }) %>
  <%- include('inc/_join', {path: "" }) %>
  <%- include('inc/_request', {path: "" }) %>
  <%- include('inc/_contact', {path: "" }) %>
  <%- include('inc/_brands', {path: "" }) %>
  <%- include('inc/_footer', {path: "" }) %>
</body>
</html>
